
@font-face {
  font-family: 'Dynalight-Regular';
  src: url('Dynalight-Regular.eot?#iefix') format('embedded-opentype'),  url('Dynalight-Regular.woff') format('woff'), url('Dynalight-Regular.ttf')  format('truetype'), url('Dynalight-Regular.svg#Dynalight-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
