
@font-face {
  font-family: 'GentiumPlus';
  src: url('GentiumPlus.eot?#iefix') format('embedded-opentype'),  url('GentiumPlus.woff') format('woff'), url('GentiumPlus.ttf')  format('truetype'), url('GentiumPlus.svg#GentiumPlus') format('svg');
  font-weight: normal;
  font-style: normal;
}
