
@font-face {
  font-family: 'ALSScript';
  src: url('ALSScript.eot?#iefix') format('embedded-opentype'),  url('ALSScript.woff') format('woff'), url('ALSScript.ttf')  format('truetype'), url('ALSScript.svg#ALSScript') format('svg');
  font-weight: normal;
  font-style: normal;
}
